<!-- themes/medium-style/layout/_partial/head.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= config.title %></title>
    <!-- 强制加载本地 CSS -->
    <link rel="stylesheet" href="<%= url_for('css/style.css') %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="<%= url_for('css/nav.css') %>">

  </head>