.blog-list-tags {
  width: 30%;
  float: right; /* Float to the right */
  margin-left: 1rem; /* Add some space from the blog list */
}

.blog-list-tags ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  list-style: none;
  padding-left: 0.2rem;
  gap: 5px; /* 5px gap between tags */
}

.blog-list-tags  li {
  flex: 0 1 auto;
  /* display: inline-block; */
  padding: 0.4rem 1rem;
  border-radius: 0.5rem; /* Rounded corners */
  font-size: 0.9rem;
  background-color: #f8f8f8; /* Light background */
  cursor: pointer;
}

.blog-list-tags li:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

/* Cycle through border colors (5 colors) */
.blog-list-tags li:nth-child(5n+1) {
  border: 2px solid #2337ff; /* Blue */
}
.blog-list-tags li:nth-child(5n+2) {
  border: 2px solid #558B2F; /* Green */
}
.blog-list-tags li:nth-child(5n+3) {
  border: 2px solid #FF9800; /* Orange */
}
.blog-list-tags li:nth-child(5n+4) {
  border: 2px solid #E91E63; /* Pink */
}
.blog-list-tags li:nth-child(5n+5) {
  border: 2px solid #9C27B0; /* Purple */
}



/* Responsive adjustments (optional) */
@media (max-width: 768px) {
  .blog-list-tags {
    width: 100%; /* Full width on smaller screens */
    float: none; /* Remove float */
    margin-left: 0;
    margin-top: 1rem;
  }
}
