---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
// import.meta.glob() 将返回一个对象数组，每个博客文章对应一个对象。
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
const pageTitle = "博客";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>我的 Astro 学习博客</h1>
  <p>在这里，我将分享我的 Astro 学习之旅。</p>
  <ul>
    <!-- <li><a href="/posts/post-2/">文章 2</a></li> -->
    {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}

  </ul>
</BaseLayout>
