---

---
<div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>



<!-- const Hamburger = () => {

    return (<div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>)
}

export default Hamburger; -->

<!-- 好的，我们再来总结一下房型：

紧凑的三室两厅两卫户型，套内使用面积为70平方米。以下是对各个房间布局的归纳：
卧室
北卧：面积9.5平方米，窗户朝向西。
南主卧：面积12平方米，窗户朝向西，带有一个3平方米的卫生间。
南次卧：面积6平方米，窗户朝向东。
公共区域
客厅和餐厅：总面积30.4平方米，与阳台相连，阳台朝向西。
厨房：面积4.6平方米，窗户朝向东，与南次卧相连。
卫生间
南主卧卫生间：面积3平方米。
中间卫生间：面积4.5平方米，干湿分离，位于南主卧和南次卧之间。
其他
水管：卫生间和厨房区域有水管布局
阳台没有下水道。

现在我会说预算，你根据我的预算，结合目前市场上的装修方式，给我出几套不同的方案。方案包括硬装部分清单、价格；软装部分清单、价格。整体的风格要求简约风格，看起来温馨、明亮。瓷砖不要很亮的，灯要射灯。整体房间的光线要柔和一点，不要很多有看着反光的地方。先从预算 15 万开始，在个价格上尽量支持全屋智能。 -->